@import 'src/variables';

.searchbar__wrapper {
	padding: 20px 50px 20px 0px;
	display: grid;
	justify-content: center;
	grid-gap: 20px;
	grid-template-columns: minmax(200px, 800px) 200px 100px;
	@media (max-width: 900px) {
		grid-template-columns: auto;
		justify-content: center;
	}
	button {
		margin-top: 8px;
		height: 3em;
	}
}
