$primary: #00c7d2;
$primary--darkest: #008489;
$primary--darker: #0098a1;
$primary--dark: #00bdcd;
$primary--medium: #3bd1d9;
$primary--light: #79dfe3;
$primary--lighter: #afeced;
$primary--lightest: #dff7f8;

$glow: #df53ac;

$box-shadow--light: 0 4px 5px rgba(0, 0, 0, 0.2);
$box-shadow--heavy: 0 16px 24px rgba(0, 0, 0, 0.2);

$mobile-breakpoint: 600px;
$tablet-breakpoint: 991px;

$nav-height: 56px;
$drawer-width: 240px;

$good-color: #84f0c2;
$okay-color: #fff68d;
$bad-color: #ffa4ff;

$text-glow: rgba(175, 236, 237, 0.5);

$background-color: #1c2036;
